@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25px 600px 25px;
    grid-template-rows: 25px 200px 200px 25px;
    grid-template-areas: 
    "header header header"
    "nav png content"
    "aside png menu"
    "footer footer footer";
    background-color: #102027; 
    margin: 20px;

}

.header{
    background-color: white;
    border: black solid 5px;
    overflow: hidden;
    grid-area: header;
    text-overflow: clip;
}
.header > div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.nav{
    background-color: black;
    grid-area:nav;
}
.nav > div {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    text-overflow: nowrap;
    font-size: 10px;
    font-weight: 500;
    margin: 30px 8px;
    color: white;
}  

.aside {
    background-color:white;
    border: black solid 5px; 
    border-bottom: none;
    border-top: none;
    grid-area:aside;
}
.aside > div {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin: 20px 1px;
    
} 

.content {
    background-color: #424242;
    border: black solid 5px;
    border-top: none;
    overflow: hidden;
    grid-area: content;   
}
.content > div{
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin: 15px 2px;
}

.menu {
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: #424242;
    border: black solid 5px;
    border-bottom: none;
    border-top: none;
    grid-area: menu;
}
.menu > div{
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin: 5px 3px;
}

.footer{
    background-color: white;
    border: black solid 5px;
    overflow: hidden;
    grid-area: footer;
    text-overflow: clip;

}
.footer > div {
    display: flex;
    align-content: center;
    
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.png {
    background-image: url(img.png);
    grid-area: png;
}
